extends template

append links
    script(src="https://kit.fontawesome.com/1742c5ad30.js", crossorigin="anonymous")

block container
    .container.text-center
        .row.mt-3
            .col
                img(src="/favicon.ico", alt="nms-logo", widtg="250")
        .row.mt-1
            .col
                h3 NMS-Udenar
                h4 "Sistema de monitoreo para dispositivos de la capa de enlace en la Universidad de Nariño"
                h5 
                    i= version
        .row.mt-3
            .col
                p 
                    | Este es un sistema de monitoreo diseñado para recolectar la información de los switches que conforman la intranet
                    | de la Universidad de Nariño. Este sistema cuenta con los siguientes módulos: 
        .row
            .col-12.col-md-4
                h5 Mapa de nodos
                p 
                    | El cual representa como se encuentra la topología de la red, el estado de los switches 
                    | y propiedades de los enlaces (latencia, dirección IP, notificado).
            .col-12.col-md-4
                h5 Listado de switches
                p 
                    | En el cual se puede consultar la información de cada uno, editar los valores de identificación para el sistema
                    | (nombre, nodo padre), eliminarlos del sistema o agregar un nuevo dispositivo.
                    | Para cada switch se detallan datos informativos, las VLANs presentes y detalles de cada una de las interfaces junto con el consumo
                    | de tráfico de éstas.
            .col-12.col-md-4
                h5 Reportes
                p 
                    | En el cual se podrá consultar y descargar diferentes tipos de reportes del sistema con respecto a las novedades
                    | y configuraciones que presenten los dispositivos.
        .row.mt-2
            .col-12.col-md-6
                h4 Desarrollado por:
                img.border.border-dark.rounded-circle(src="/images/darklight-avatar.jpg", alt="Avatar", width="150")
                h5 Sebastian Alexander Diaz Paz
                h6
                    i.fas.fa-at
                    |  Contacto: 
                    a(href="mailto:sebastian.diaz@udenar.edu.co") sebastian.diaz@udenar.edu.co
                h6
                    i.fab.fa-gitlab
                    |  GitLab: 
                    a(href="https://gitlab.com/Dark-Light-20") Dark-Light-20
                h6
                    i.fab.fa-git-alt
                    |  Repositorio: 
                    a(href="https://gitlab.com/Dark-Light-20/nms") NMS-Udenar
            .col-12.col-md-6
                h4 Colaborades:
                br
                h5 Esp. Pablo Andres Vaca
                h5 Mg. Gonzalo José Hernández
                img.rounded-circle(src="/images/logo-udenar.png", alt="Logo-Udenar", width="200")
                h4 Universidad de Nariño

block js
    script(src="/javascripts/about.js")