extends template

block container
    .container.mt-3
        .row.justify-content-center
            .col.col-md-6
                .card
                    .card-body 
                        h5.card-title Realizar copia de seguridad del sistema NMS-Udenar
                        a.btn.btn-success(href="/appBackup/download") Descargar
                        hr
                        form#appBackupForm
                            h5 Subir copia de seguridad al sistema NMS-Udenar
                            .input-group
                                .custom-file
                                    input.custom-file-input#backupFile(type="file", accept="application/json", name="NMSbackup")
                                    label.custom-file-label#uploadLabel(for="backupFile", aria-describedby="uploadBtn", data-browse="Seleccionar") Seleccionar archivo
                                .input-group-append
                                    button.btn.btn-primary#uploadBtn(type="submit") Subir
                            .alert.alert-danger.mt-2#msgBackup(role ="alert", style="display: none;")

block js
    script(src="/javascripts/appBackup.js")