extends template

append links
    link(rel="stylesheet", href="/DataTables/datatables.min.css")

block container
    .row.justify-content-center.mt-3
        .col-auto
            table.table.table-striped.table-bordered.table-hover.table-responsive.mr#dataTable(style="width: 100%")
                thead.thead-dark
                    tr
                        th IP switch
                        th Consulta
                tbody
                    each sw in swList
                        tr
                            td.align-middle=sw
                            td.align-middle
                                a.btn.btn-info.text-body.btnInfo(href=`/reports/backups/${sw}`) Backups 
                                    i.material-icons.align-middle topic

block js
    script(src="/DataTables/datatables.min.js")
    script(src="/javascripts/backupsList.js")