extends template

block container
    - const NOSUPREF = 'Este dato no está soportado por el sistema para esta referencia de switch';
    .container.my-3
        if current
            .row.justify-content-center.mb-3
                .col
                    .accordion#accordionCurrtent
                        .card
                            .card-header#headerCurrent
                                h2.mb-0
                                    button.btn.btn-link.btn-block#btnCurrent(type="button" data-toggle="collapse" data-target="#collapseCurrent" aria-expanded="true" aria-controls="collapseCurrent")= `Última consulta: ${current.date}`
                            .collapse#collapseCurrent(aria-labelledby="headerCurrent" data-parent="#accordionCurrtent")
                                .card-body
                                    +backupView(current)
        .row.justify-content-center
            each backup, index in backups
                .col-12
                    .accordion(id=`accordion${index}`)
                        .card
                            .card-header(id=`header${index}`)
                                h2.mb-0
                                    button.btn.btn-link.btn-block(id=`btn${index}` type="button" data-toggle="collapse" data-target=`#collapse${index}` aria-expanded="true" aria-controls=`#collapse${index}`)= `Histórico: ${backup.date}`
                            .collapse(id=`collapse${index}` aria-labelledby=`#header${index}` data-parent=`#accordion${index}`)
                                .card-body
                                    +backupView(backup)

block js
    script(src="/javascripts/backup.js")

mixin backupView(backup)
    .row
        .col
            .table-responsive
                table.table.table-sm
                    thead
                        tr
                            th.bg-secondary.text-white(colspan="2") Datos de sistema
                    tbody
                        tr
                            th(scope='row') Nombre:
                            td= backup.db_data.name
                        tr
                            th(scope='row') Padre:
                            td= backup.db_data.parent
                        tr
                            th(scope='row') Campus:
                            td= backup.db_data.campus
                        tr
                            th(scope='row') Zone:
                            td= backup.db_data.zone
                        tr
                            th(scope='row') Notificar por correo:
                            if backup.db_data.mail
                                td Si
                            else
                                td No
        .col
            .table-responsive.infoTable
                table.table.table-sm
                    thead
                        tr
                            th.bg-info.text-white(colspan="2") Información básica
                    tbody
                        tr
                            th(scope='row') Nombre:
                            td= backup.basic.name
                        tr
                            th(scope='row') Contacto:
                            td= backup.basic.contact
                        tr
                            th(scope='row') Ubicación:
                            td= backup.basic.location
                        tr
                            th(scope='row') Tiempo activo:
                            td= backup.basic.uptime
                        if backup.basic.serial
                            tr
                                th(scope='row') Serial:
                                td= backup.basic.serial
                        if backup.basic.brand
                            tr
                                th(scope='row') Marca:
                                td= backup.basic.brand
                        if backup.basic.model 
                            tr
                                th(scope='row') Modelo:
                                td= backup.basic.model
                        if backup.basic.type 
                            tr
                                th(scope='row') Referencia:
                                td= backup.basic.type
        .col
            .table-responsive.vlansTable
                table.table.table-sm.table-striped.table-scroll-y
                    thead
                        tr
                            th.bg-primary.text-white(colspan="2") Listado de VLANs
                    tbody
                        each vlan in backup.VLANs
                            tr
                                th(scope="row")= `VLAN ${vlan.id}`
                                td= vlan.name
    .row.mt-3
        .col
            .table-responsive.table-striped.portsTable
                h4.bg-dark.text-light.text-center.p-1.mb-0 Puertos
                table.table.table-sm
                    thead.thead-dark
                        tr
                            th Nombre
                            th Alias
                            th Estado
                            th Tipo
                            th Velocidad
                            th VLANs
                    tbody
                        each port in backup.ports
                            tr
                                td= port.name
                                td= port.alias
                                if port.status === 1
                                    td Activo
                                else if port.status === 2
                                    td Inactivo
                                else
                                    td Desconocido
                                if backup.basic.oid === '1.3.6.1.4.1.9.1.1745' || backup.basic.oid === '1.3.6.1.4.1.9.1.1208'
                                    if port.type === 1
                                        td Troncal
                                    else if port.type === 2
                                        td Acceso
                                    else if port.type === 4
                                        td Auto
                                    else
                                        td.table-warning= NOSUPREF
                                else if backup.basic.oid === '1.3.6.1.4.1.9.6.1.94.48.5' || backup.basic.oid === '1.3.6.1.4.1.9.6.1.94.48.1' || backup.basic.oid === '1.3.6.1.4.1.9.6.1.91.24.8'
                                    if port.type === 12
                                        td Troncal
                                    else if port.type === 11
                                        td Acceso
                                    else
                                        td.table-warning= NOSUPREF
                                else
                                    if port.type === 2
                                        td Acceso
                                    else if port.type === 3
                                        td Troncal
                                    else if port.type === 1
                                        td General
                                    else
                                        td.table-warning= NOSUPREF
                                if port.speed >= 1000 
                                    td= `${port.speed/1000} Gbps`
                                else
                                    td= `${port.speed} Mbps`
                                if port.VLANs
                                    - let VLANs = ""
                                    each vlan in port.VLANs
                                        - VLANs = VLANs.concat(`${vlan}, `)
                                    td= VLANs
                                else
                                    td.table-warning= NOSUPREF