extends template

block container
    .container.mt-3
        .row.justify-content-center
            .col.col-md-6
                form.bg-light.p-3#deleteUserForm
                    .form-group
                        label(for="user") Seleccionar usuario
                        select.form-control#user(name="user", required)
                            each bdUser in users
                                if bdUser !== user.name
                                    option(value=`${bdUser}`)= bdUser
                    button.btn.btn-danger#btnDelete(type="submit") Eliminar
                    .alert.alert-danger.mt-2#msgDelete(role ="alert", style="display: none;")

block js
    script(src="/javascripts/deleteUser.js")