extends template

block container
    .container.mt-3
        .row
            .col
                .alert.alert-danger(role="alert")
                    h4.alert-heading Error de Servidor
                    p= msg
                    if error
                        p= error