extends template

block navbar
    nav.navbar.navbar-expand-lg.navbar-dark.primary-color-dark
        a.navbar-brand(href="/")
            img(src="/favicon.ico", width="50", height="50" alt="NMS-Logo")
        h2
            span.badge.badge-light(id="navbar-title") Inicio de sesión

block container
    .container.mt-3
        .row.justify-content-center
            .col.col-md-6
                form.bg-light.p-3#loginForm
                    .form-group
                        label(for="user") Usuario
                        input.form-control#user(type="text", name="user", required)
                    .form-group
                        label(for="pswd") Contraseña
                        input.form-control#pswd(type="password", name="pswd", required)
                    button.btn.btn-primary(type="submit") Ingresar
                    .alert.alert-danger.mt-2#msgLogin(role ="alert", style="display: none;")

block js
    script(src="/javascripts/login.js")