extends template

append links
    script(src="/javascripts/d3.v6.min.js")
block container
    .spinner-border.loader
    .container-fluid#container
        svg.d-none#map.col.h-100
block js
    script(src="/javascripts/map.js")