.container#container
    .row.justify-content-center.text-center
        h1.mt-4 Menú Principal
    .row.mt-3
        .col
            form.form-inline.md-form.form-sm.justify-content-center.text-center#searchForm
                label.h4.mr-2(for="IPSearch") Consulta rápida
                input.form-control.mr-2.w-50#IPSearch(type="search", placeholder="Digite la dirección IP a buscar", aria-label="Search", pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$")
                button.btn.btn-primary#btnSearch(type="submit") Buscar
    .row.justify-content-center.text-center.mt-4
        .card-deck
            .card
                a(href='/map', style='color: inherit;')
                    i.material-icons.p-3(style="font-size: 5rem;") device_hub
                .card-body
                    h4.card-tittle.mb-3 Mapa de Red
                    p.card-text
                    | En el mapa de red puede monitorear el estado de los dispositivos
                    | que pertenecen a la topología de red en la UDENAR.
            .card
                a(href='/switchList', style='color: inherit;')
                    i.material-icons.p-3(style="font-size: 5rem;") dns
                .card-body
                    h4.card-tittle.mb-3 Listado de Switches
                    p.card-text
                    | En el listado de Switches puede acceder a la información de cada uno
                    | de ellos, además de ver estadisticas de consumo de interfaces en tiempo
                    | real.
            .card
                a(href='/reports', style='color: inherit;')
                    i.material-icons.p-3(style="font-size: 5rem;") article
                .card-body
                    h4.card-tittle.mb-3 Reportes
                    p.card-text
                    | En la sección de reportes puede visualizar las modificaciones que han realizado
                    | los usuarios al sistema, las caidas de los dispositivos y visualizar reportes de las configuraciones
                    | que estuvieron presentes en los dispositivos en el tiempo.