extends template

block container
    .container.mt-3
        .row.justify-content-center
            .col.col-md-6
                form.bg-light.p-3#modifyUserForm
                    .form-group
                        label(for="pswd") Contraseña actual
                        input.form-control#pswd(type="password", name="pswd", required)
                    .form-group
                        label(for="pswd1") Nueva contraseña
                        input.form-control#pswd1(type="password", name="pswd1", required)
                        label(for="pswd2") Confirmar contraseña
                        input.form-control#pswd2(type="password", name="pswd2", required)
                    button.btn.btn-primary#btnModify(type="submit") Modificar
                    .alert.alert-danger.mt-2#msgModify(role ="alert", style="display: none;")

block js
    script(src="/javascripts/modifyUser.js")