extends template

append links
    link(rel="stylesheet", href="/DataTables/datatables.min.css")

block modals
    // Modal for NMS BD Info
    .modal.fade#modalInfo(tabindex="-1", role="dialog")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h4.modal-title Información reportada en el sistema
                    button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                        span(aria-hiden="true") &times;
                .modal-body
                    .container-fluid
                        .row
                            .col.text-center
                                .spinner-border
                        .row.d-none#infoBody
                            .col-6
                                h6 Nombre:
                                p#infoName
                            .col-6
                                h6 Padre:
                                p#infoParent
                            .col-6
                                h6 Campus:
                                p#infoCampus
                            .col-6
                                h6 Zona:
                                p#infoZone
                            .col-6
                                h6 Notificar por correo:
                                p#infoMail
                .alert.alert-danger#msgInfo(role ="alert", style="display: none;")
                
block container
    .row.justify-content-center.mt-3
        .col-auto
            table.table.table-striped.table-bordered.table-hover.table-responsive#dataTable(style="width: 100%")
                thead.thead-dark
                    tr
                        th IP switch
                        th Acción
                        th Usuario
                        th Fecha
                        th Datos
                tbody
                    each report in modList
                        tr
                            td.align-middle=report.sw_IP
                            td.align-middle
                                if report.type === 'Addition' 
                                    | Adición
                                else if report.type === 'Edition' 
                                    | Edición
                                else if report.type === 'Elimination' 
                                    | Eliminación
                            td.align-middle=report.user
                            td.align-middle=report.date
                            td.align-middle(id=report._id)
                                button.btn.btn-info.text-body.btnInfo(data-toggle="modal", data-target="#modalInfo") Info 
                                    i.material-icons.align-middle info

block js
    script(src="/DataTables/datatables.min.js")
    script(src="/javascripts/modifications.js")