nav.navbar.navbar-expand-lg.navbar-dark.primary-color-dark
    a.navbar-brand(href="/")
        img(src="/favicon.ico", width="50", height="50" alt="NMS-Logo")
    h2
        span.badge.badge-light(id="navbar-title")= navbarText
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
    .collapse.navbar-collapse.ml-2#navbar
        .navbar-nav.mr-auto
            a.nav-link.active(href="/") Menú principal
            a.nav-link(href="/map") Mapa de Red
            a.nav-link(href="/switchList") Listado de Switches
            a.nav-link(href="/reports") Reportes
            a.nav-link(href="/about") Acerca de
        .dropdown
            button.btn.btn-info.dropdown-toggle(type="button" data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")= `${user.name} `
            .dropdown-menu.dropdown-menu-lg-right(aria-labelledby="dropdownMenuButton")
                if user.type === '1'
                    a.dropdown-item(href="/register") Registrar usuario
                    a.dropdown-item(href="/deleteUser") Eliminar usuario
                    a.dropdown-item(href="/appBackup") Copia de seguridad NMS-Udenar
                    .dropdown-divider
                a.dropdown-item(href="/user") Modificar contraseña
                a.dropdown-item(href="/logout") Cerrar sesión