extends template

block container
    .spinner-border.loader.d-none
    .container#container
        .row.justify-content-center.text-center
            h1.mt-4 Menú de reportes
        .row.justify-content-center.text-center.mt-4
            .card-deck
                if user.type !== "3"
                    .card
                        a(href='/reports/modifications', style='color: inherit;')
                            i.material-icons.p-3(style="font-size: 5rem;") room_preferences
                        .card-body
                            h4.card-tittle.mb-3 Modificaciones
                            p.card-text
                            | En el apartado de modificaciones podrá ver el historico de modificaciones
                            | realizadas dentro del sistema, junto con los datos que se ingresaron, alteraron o eliminaron
                            | y el usuario responsable.
                .card
                    a(href='/reports/statuses', style='color: inherit;')
                        i.material-icons.p-3(style="font-size: 5rem;") signal_cellular_connected_no_internet_4_bar
                    .card-body
                        h4.card-tittle.mb-3 Histórico de caídas
                        p.card-text
                        | En el apartado de histórico de caidas podrá ver el listado de reportes de perdida de conexión o recuperación
                        | a un switch dentro del sistema. Se podrá evidenciar la IP del dispositivo, la acción (caído o recuperado)
                        | y la fecha con hora del reporte.
                .card
                    a(href='/reports/backups', style='color: inherit;')
                        i.material-icons.p-3(style="font-size: 5rem;") snippet_folder
                    .card-body
                        h4.card-tittle.mb-3 Copias de seguridad
                        p.card-text
                        | En el apartado de copias de seguridad podrá ver el listado de reportes de las configuraciones que han tenido los dispositivos
                        | a través del tiempo. El sistema realiza copias automaticas de los dispositivos en un determinado intervalo de tiempo
                        | además de incluir una copia "reciente" que es actualizada cada vez que un usuario realiza una consulta a un dispositivo.

block js
    script(src='/javascripts/reports.js')