extends template

block container
    .container.mt-3
        .row.justify-content-center
            .col.col-md-6
                form.bg-light.p-3#registerForm
                    .form-group
                        label(for="user") Usuario
                        input.form-control#user(type="text", name="user", required)
                    .form-group
                        label(for="type") Tipo de usuario
                        select.form-control#type(name="type", required)
                            option(value="1") Administrador
                            option(value="2") Monitor
                            option(value="3") Visor
                    .form-group
                        label(for="pswd1") Contraseña
                        input.form-control#pswd1(type="password", name="pswd1", required)
                        label(for="pswd2") Confirmar contraseña
                        input.form-control#pswd2(type="password", name="pswd2", required)
                    button.btn.btn-primary#btnSignUp(type="submit") Registrar
                    .alert.alert-danger.mt-2#msgRegister(role ="alert", style="display: none;")

block js
    script(src="/javascripts/signup.js")