extends template

append links
    link(rel="stylesheet", href="/DataTables/datatables.min.css")

block container
    .row.justify-content-center.mt-3
        .col-auto
            table.table.table-striped.table-bordered.table-hover.table-responsive#dataTable(style="width: 100%")
                thead.thead-dark
                    tr
                        th IP switch
                        th Nombre
                        th Acción
                        th Fecha
                tbody
                    each status in statusList
                        tr
                            td.align-middle=status.sw_IP
                            td.align-middle=status.sw_name
                            td.align-middle
                                if status.action === 'up' 
                                    | Recuperado
                                else if status.action === 'down' 
                                    | Desconectado
                            td.align-middle=status.date

block js
    script(src="/DataTables/datatables.min.js")
    script(src="/javascripts/statuses.js")