extends template

append links
    script(src="/javascripts/d3.v6.min.js")

block container
    - const NOSUPREF = 'Este dato no está soportado por el sistema para esta referencia de switch';
    .container.mt-3
        .row.mb-3
            .col
                +infoCard(swData.basic)
            .col
                if swData.VLANs && swData.VLANs.length > 0
                    +vlansCard(swData.VLANs)
                else
                    +errorCard(swData.error)
        if swData.ports.length > 0
            .row.mb-2
                .col
                    .btn-group(role="group" aria-label="Change Ports View")
                        button.btn.btn-success#btnCardsView(type="button")
                            i.material-icons view_carousel
                            |   Puertos en Tarjetas
                        button.btn.btn-secondary#btnTableView(type="button")
                            i.material-icons table_view
                            |   Puertos en Tabla
            .row
                each port, index in swData.ports
                    .col.col-md-6.mb-3.portCard
                        +portCard(port, index, swData.basic.oid)
                +portsTableView(swData.ports, swData.basic.oid)
        else
            .row
                .col
                    +errorCard({section: 'PORTS', name: 'Not supported reference', message: 'Esta referencia de switch no está soportada por el sistema.'})

block js
    script(src='/javascripts/switch.js')

mixin infoCard(info)
    .card.bg-info.text-white
        h5.card-header Información básica
        .card-body#infoBody
            table.table.table-sm.table-info#infoTable
                tr
                    th(scope='row') Nombre:
                    td= info.name
                tr
                    th(scope='row') IP:
                    td#IP= IP
                tr
                    th(scope='row') Contacto:
                    td= info.contact
                tr
                    th(scope='row') Ubicación:
                    td= info.location
                tr
                    th(scope='row') Tiempo activo:
                    td= info.uptime
                tr
                    th(scope='row') Serial:
                    if info.serial
                        td= info.serial
                    else
                        td.table-warning= NOSUPREF
                tr
                    th(scope='row') Marca:
                    if info.brand
                        td= info.brand
                    else
                        td.table-warning= NOSUPREF
                tr
                    th(scope='row') Modelo:
                    if info.model 
                        td= info.model
                    else
                        td.table-warning= NOSUPREF
                tr
                    th(scope='row') Referencia:
                    if info.type 
                        td= info.type
                    else
                        td.table-warning= NOSUPREF

mixin vlansCard(VLANs)
    .card.text-white.bg-primary
        h5.card-header VLANs
        .card-body
            .table-scroll-y.list-groups.mb-3#vlanTable
                each vlan in VLANs
                    li.text-black.list-group-item.list-group-item-primary= `VLAN ${vlan.id}: ${vlan.name}`

mixin portCard(port, index, OID)
    .card.text-white.bg-light(id=`cardPort${port.id}`)
        if port.status === 1
            h5.card-header.bg-success= `Puerto ${index+1}:`
        else if port.status === 2
            h5.card-header.bg-danger= `Puerto ${index+1}:`
        else
            h5.card-header.bg-secondary= `Puerto ${index+1}:`
        .card-body
            .row
                .col
                    .table-responsive
                        table.table.table-sm
                            tr
                                th(scope='row') Nombre:
                                td= port.name
                            tr
                                th(scope='row') Estado:
                                if port.status === 1
                                    td Activo
                                else if port.status === 2
                                    td Inactivo
                                else
                                    td Desconocido
                            tr
                                th(scope='row') Descripción:
                                td= port.alias
                            tr
                                th(scope='row') Velocidad:
                                if port.speed >= 1000 
                                    td= `${port.speed/1000} Gbps`
                                else
                                    td= `${port.speed} Mbps`
                            tr
                                th(scope='row') Tipo:
                                if OID === '1.3.6.1.4.1.9.1.1745' || OID === '1.3.6.1.4.1.9.1.1208'
                                    if port.type === 1
                                        td Troncal
                                    else if port.type === 2
                                        td Acceso
                                    else if port.type === 4
                                        td Auto
                                    else
                                        td.table-warning= NOSUPREF
                                else if OID === '1.3.6.1.4.1.9.6.1.94.48.5' || OID === '1.3.6.1.4.1.9.6.1.94.48.1' || OID === '1.3.6.1.4.1.9.6.1.91.24.8'
                                    if port.type === 12
                                        td Troncal
                                    else if port.type === 11
                                        td Acceso
                                    else
                                        td.table-warning= NOSUPREF
                                else
                                    if port.type === 2
                                        td Acceso
                                    else if port.type === 3
                                        td Troncal
                                    else if port.type === 1
                                        td General
                                    else
                                        td.table-warning= NOSUPREF
                            tr
                                th(scope='row') VLANs:
                                if port.VLANs
                                    td= port.VLANs
                                else
                                    td.table-warning= NOSUPREF

mixin errorCard(error)
    .card.text-white.bg-secondary
        h5.card-header Error
            .card-body
                .alert.alert-warning
                    | La obtención de información de la sección 
                    if error && error.section
                        | #{error.section} 
                    | presentó un error. 
                    | Posiblemente esta referencia de switch no está soportada por el sistema...
                    br
                    if error && error.name
                        | #{error.name} :
                    else
                        | Not supported reference : 
                    if error && error.message
                        |  #{error.message}
                    else
                        | Esta referencia de switch no está soportada por el sistema.

mixin portsTableView(ports, OID)
    .col.portsTable(style="display: none;")
        .card.bg-light
            h4.card-header.text-center Puertos
            .card-body
                table.table.table-sm.table-responsive.table-striped
                    thead.thead-dark
                        tr
                            th Nombre
                            th Alias
                            th Estado
                            th Tipo
                            th Velocidad
                            th VLANs
                    tbody
                        each port in ports
                            tr
                                td= port.name
                                td= port.alias
                                if port.status === 1
                                    td Activo
                                else if port.status === 2
                                    td Inactivo
                                else
                                    td Desconocido
                                if OID === '1.3.6.1.4.1.9.1.1745' || OID === '1.3.6.1.4.1.9.1.1208'
                                    if port.type === 1
                                        td Troncal
                                    else if port.type === 2
                                        td Acceso
                                    else if port.type === 4
                                        td Auto
                                    else
                                        td.table-warning= NOSUPREF
                                else if OID === '1.3.6.1.4.1.9.6.1.94.48.5' || OID === '1.3.6.1.4.1.9.6.1.94.48.1' || OID === '1.3.6.1.4.1.9.6.1.91.24.8'
                                    if port.type === 12
                                        td Troncal
                                    else if port.type === 11
                                        td Acceso
                                    else
                                        td.table-warning= NOSUPREF
                                else
                                    if port.type === 2
                                        td Acceso
                                    else if port.type === 3
                                        td Troncal
                                    else if port.type === 1
                                        td General
                                    else
                                        td.table-warning= NOSUPREF
                                if port.speed >= 1000 
                                    td= `${port.speed/1000} Gbps`
                                else
                                    td= `${port.speed} Mbps`
                                if port.VLANs
                                    td= port.VLANs
                                else
                                    td.table-warning= NOSUPREF