extends template

append links
    link(rel="stylesheet", href="/DataTables/datatables.min.css")

block modals
    // Add
    .modal.fade#modalAddSw(tabindex="-1", role="dialog")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h3.modal-title Agregar nuevo switch al sistema
                    button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                        span(aria-hiden="true") &times;
                .modal-body
                    form#formAddSw
                        .form-row
                            .form-group.col-md-6
                                label(for="nameAdd") Nombre corto:
                                input.form-control#nameAdd(type="text", name="name", minlength=5, maxlength=30, required)
                            .form-group.col-md-6
                                label(for="IPadd") Dirección IP:
                                input.form-control#IPadd(type="text", name="IP", minlength=7, maxlength=15, pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$", required)
                        .form-row
                            .form-group.col-md-6
                                label(for="campusAdd") Campus:
                                input.form-control#campusAdd(type="text", name="campus", required)
                            .form-group.col-md-6
                                label(for="zoneAdd") Zona:
                                input.form-control#zoneAdd(type="text", name="zone", required)
                        .form-group
                            label(for="parentAdd") BackBone:
                            select.form-control#parentAdd(name="parent")
                                each sw in swList
                                    option(value=sw.IP) #{sw.name}: #{sw.IP}
                        .form-group
                            .form-check
                                input.form-check-input#mailAdd(type="checkbox", name="mail")
                                label.form-check-label(for="mailAdd") Notificar por correo
                        .form-group
                            .btn-group(role="group")
                                button.btn.btn-secondary(type="button", data-dismiss="modal") Cancelar
                                button.btn.btn-primary#btnFormAdd(type="submit") Agregar
                .alert#msgAdd(role ="alert", style="display: none;")
    // Edit
    .modal.fade#modalEditSw(tabindex="-1", role="dialog")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h3.modal-title Editar switch
                    button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                        span(aria-hiden="true") &times;
                .modal-body
                    form#formEditSw
                        .form-row
                            .form-group.col-md-6
                                label(for="nameEdit") Nombre corto:
                                input.form-control#nameEdit(type="text", name="name", minlength=5, maxlength=30, required)
                            .form-group.col-md-6
                                label(for="IPedit") Dirección IP:
                                input.form-control#IPedit(type="text", name="IP", required)
                        .form-row
                            .form-group.col-md-6
                                label(for="campusEdit") Campus:
                                input.form-control#campusEdit(type="text", name="campus", required)
                            .form-group.col-md-6
                                label(for="zoneEdit") Zona:
                                input.form-control#zoneEdit(type="text", name="zone", required)
                        .form-group
                            label(for="parentEdit") BackBone:
                            select.form-control#parentEdit(name="parent")
                                each sw in swList
                                    option(value=sw.IP) #{sw.name}: #{sw.IP}
                        .form-group
                            .form-check
                                input.form-check-input#mailEdit(type="checkbox", name="mail")
                                label.form-check-label(for="mailEdit") Notificar por correo
                        .form-group
                            .btn-group(role="group")
                                button.btn.btn-secondary(type="button", data-dismiss="modal") Cancelar
                                button.btn.btn-primary#btnFormEdit(type="submit") Editar
                .alert#msgEdit(role ="alert", style="display: none;")
    // Delete
    .modal.fade#modalDeleteSw(tabindex="-1", role="dialog")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h3.modal-title Eliminar switch
                    button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                        span(aria-hiden="true") &times;
                .modal-body
                    h5 ¿Está seguro de eliminar el switch #[span#delSw] ?
                .modal-footer
                    .btn-group(role="group")
                        button.btn.btn-secondary(type="button", data-dismiss="modal") Cancelar
                        button.btn.btn-danger#btnDeleteSw(type="button") Eliminar
                .alert#msgDel(role ="alert", style="display: none;")

block container
    .container
        if user.type !== "3"
            .row.mt-3
                .col.text-center
                    button.btn.btn-primary(data-toggle="modal", data-target="#modalAddSw") 
                        h4
                            i.material-icons library_add
                            |  Nuevo Switch
        .row.justify-content-center
            .col-auto
                table.table.table-striped.table-bordered.table-hover.table-responsive#dataTable(style="width: 100%")
                    thead.thead-dark
                        tr
                            th Nombre Switch
                            th IP
                            th Campus
                            th Zona
                            th Notificar por correo
                            th Opciones
                    tbody
                        each sw in swList
                            if sw.name !== 'FIREWALL' && !serverIPs.find((IP) => IP === sw.IP)
                                tr
                                    td.align-middle=sw.name
                                    td.align-middle(parent=sw.parent)= sw.IP
                                    td.align-middle=sw.campus
                                    td.align-middle=sw.zone
                                    if sw.mail
                                        td.align-middle='Si'
                                    else
                                        td.align-middle='No'
                                    td.align-middle
                                        .btn-group
                                            a.btn.btn-success.text-body(href="/switch/"+sw.IP) Consultar 
                                                i.material-icons.align-middle info
                                            if user.type !== "3"
                                                button.btn.btn-warning.text-body.btnEdit(data-toggle="modal", data-target="#modalEditSw") Editar 
                                                    i.material-icons.align-middle edit
                                                button.btn.btn-danger.text-body.btnDelete(data-toggle="modal", data-target="#modalDeleteSw") Eliminar 
                                                    i.material-icons.align-middle remove_circle

block js
    script(src="/DataTables/datatables.min.js")
    script(src="/javascripts/swList.js")