<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        block links
            link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
            link(rel="stylesheet", href="/stylesheets/style.css")
            link(rel="stylesheet", href="/stylesheets/material-icons-config.css")
            script(src="/javascripts/jquery-3.5.1.min.js")
            script(src="/javascripts/popper.min.js")
            script(src="/javascripts/bootstrap.min.js")
    body.primary-color-light
        block modals
        block navbar
            include navbar
        block container
        block js