.primary-color {
  background-color: #4bc02e;
}

.primary-color-light {
  background-color: #dbdbdb;
}

.primary-color-dark {
  background-color: #005a0c;
}

.bg {
  background-color: #e1e2e1;
}

path {
  fill: none;
  stroke: gray;
}

circle {
  stroke-width: 2px;
  stroke-opacity: 1;
}

.pulse {
  fill-opacity: 0;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(2);
  }
}

.table-scroll-y {
  display: block;
  position: relative;
  overflow: auto;
}

.smoothline-out {
  fill: none;
  stroke: #3c80e7;
  stroke-width: 3px;
}

.area-out {
  fill: #3c80e7;
  opacity: 0.5;
}

.smoothline-in {
  fill: none;
  stroke: #e74c3c;
  stroke-width: 3px;
}

.area-in {
  fill: #e74c3c;
  opacity: 0.5;
}

#dataTable td:nth-child(1),
#dataTable td:nth-child(2) {
  padding-right: 5rem;
}

.loader {
  width: 10rem;
  height: 10rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -5rem;
  margin-left: -5rem;
}
